*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: #0C3C26;
    line-height: 1.6;
}
header{
    
}

footer{
}

.grid-table-header th{
    font-weight: bold;
}
